<h1 class="heading">Questions of {{qtitle}}</h1>
<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="container text-center margin-10">
                <button [routerLink]="'/admin/add-questions/'+qid+'/'+qtitle" mat-raised-button color="primary">Add new Questions</button>
            </div>
            <mat-card *ngFor="let q of questions; let i=index" class="mat-questions">
                <mat-card-content>
                    <p>
                        <b>Q{{i+1}})</b><span class="question" [innerHTML]="q.content"></span>
                    </p>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <p>1) {{q.option1}}</p>
                            </div>
                            <div class="col-md-6">
                                <p>2) {{q.option2}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>3) {{q.option3}}</p>
                            </div>
                            <div class="col-md-6">
                                <p>4) {{q.option4}}</p>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <p><b>Correct Answer :</b>{{q.answer}}</p>
                    </div>
                    
                    <mat-card-actions class="button">
                        <button mat-raised-button                         
                        color="primary"> Update </button>
                        <button mat-raised-button
                         (click)="deleteQuestion(q.quesid)"
                         color="primary"class="button"> Delete </button>
                    </mat-card-actions>
                    
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

