.heading{
    margin-top: 1.5%;
    margin-left: 1%;
}

.mat-questions{
    margin-top: 20px;
}

.question{
    margin-left: 20px;
}

.margin-10{
    margin-top: 20px;
}

.button{
    margin-left: 2%;
}