.margin{
    margin-top: 10px !important;
}

.example-header-image {
    background-image: url("../../../../assets/quizzes/exam1.png");
    background-size: cover;
}

.button{
    margin-left: 20px;
}

.margin-10{
    margin-top: 20px;
}